@model PreAgendamento
@{
    ViewData["Title"] = "Agendar";
}
<h1 style="margin-top: 55px;">@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <div class="container3">
            <div class="header">
                <p class="partiuagendar">Partiu agendar?</p>
            </div>
            <form id="form" class="form">
                <div class="form-control">
                    <label asp-for="Nome">Nome</label>
                    <input type="text" id="Nome" name="Nome" placeholder="Digite seu nome completo..." />
                    <i class="fas fa-exclamation-circle"></i>
                    <i class="fas fa-check-circle"></i>
                    <small>Mensagem de erro</small>
                </div>
                <div class="form-control">
                    <label asp-for="Telefone">Telefone</label>
                    <input type="number" id="Telefone" name="Telefone" placeholder="Digite seu telefone:" required />
                    <i class="fas fa-exclamation-circle"></i>
                    <i class="fas fa-check-circle"></i>
                    <small>Mensagem de erro</small>
                </div>
                <div class="form-control">
                    <label asp-for="Destino">Destino</label>
                    <input type="text" id="Destino" name="Destino" placeholder="Digite o destino desejado:" required />
                    <i class="fas fa-exclamation-circle"></i>
                    <i class="fas fa-check-circle"></i>
                    <small>Mensagem de erro</small>
                </div>
                <div class="form-control">
                    <label asp-for="DataDesejada">Data e horário</label>
                    <input type="text" id="DataDesejada" name="DataDesejada" placeholder="Escolha a data e hora"
                        required />
                    <i class="fas fa-exclamation-circle"></i>
                    <i class="fas fa-check-circle"></i>
                    <small>Mensagem de erro</small>
                </div>
                <div class="form-control">
                    <label asp-for="Passaporte">Você tem passaporte?</label>
                    <input type="text" id="Passaporte" name="Passaporte" placeholder="Possui passaporte?" required />
                    <i class="fas fa-exclamation-circle"></i>
                    <i class="fas fa-check-circle"></i>
                    <small>Mensagem de erro</small>
                </div>
                <button type="submit" onclick="checkInputs()">Agendar consultoria</button>
            </form>
        </div>
        <br>
</body>

</html>