@{
    ViewData["Title"] = "Dúvidas";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 style="margin-top: 55px;" >@ViewData["Title"]</h1>

<li>Não sabe quais documentos são necessários para onde você quer viajar?</li>
<li>Está em dúvida da quantia de reserva econômica vai precisar?</li>
<li>Quer encontrar um grupo de meninas/meninos que estão indo para o mesmo destino que você?</li>
<li>Ônibus ou avião? Hotel ou hostel? E sobre transfer?</li>
<p>Não se preocupe, não! Aqui temos todas as respostas pra essas e outras perguntas!</p>
<p>Marque um horário conosco e realize suas consultorias na comodidade do seu lar! <a asp-action="Agendamento">Clique aqui para agendar!</a>  </p>
</body>
</html>