<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/site.css">
</head>
<body>
    @{
    ViewData["Title"] = "Página Inicial";
}

<body>
<div class="text-center">

    
    <h1 class="display-4">Bem vinda(o) ao Elas te levam!</h1>
    <h2>Aqui inicia seu grande sonho em viajar para fora do país, fazer intercâmbio e planejar sua viagem, do início ao fim!</h2>
    <p>Com um time especialmente especializado, você terá consultoria online a hora que mais se adequar aos seus horários!</p>
    <p>Gostou da idéia e quer saber um pouquinho mais sobre nós?</p>
    <a asp-action="PaginaInicial">Clique aqui!</a>
</body>
</body>
</html>