<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    @{
    ViewData["Title"] = "Página Inicial";
}

<body>
    <h1>Bem vinda(o) ao Elas te levam!</h1>
    <p>Aqui inicia seu grande sonho em viajar para fora do país, fazer intercâmbio e planejar sua viagem, do início ao fim!</p>
    <img src="~/images/home1.png" alt="imagem">
    <img src="~/images/home2.png" alt="imagem">
    <p>Com um time especialmente especializado, você terá consultoria online a hora que mais se adequar aos seus horários!</p>
    <p>Gostou da idéia e quer saber um pouquinho mais sobre nós?</p>
    <a asp-action="PaginaInicial">Clique aqui!</a>
</body>
</html>