<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    @{
    ViewData["Title"] = "Página Inicial";
}

<body>
    <header>
        <h1>Bem vinda(o) ao Elas te levam!</h1>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="~/images/home-1.png" alt="imagem" class="img-fluid" width="100%">
            </div>
            <div class="col-6">
                <img src="~/images/home-2.png" alt="imagem" class="img-fluid" width="100%">
            </div>
        </div>
    </div>
        <div class="destaques">
            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4">
                            <a href="http://localhost:5000/Home/Agendamento"><img src="~/images/tempo.jpg" alt="Relógio" class="img-fluid" width="100%" style="border-radius: 50%;"/></a>
                            <p class="detalhe-titulo">No seu tempo</p>
                            <span class="detalhe">Com um time especialmente especializado, aqui você terá consultoria online a hora que mais se adequar aos seus horários! Vamos agendar?</span>
                        </div>
                        <div class="col-4">
                            <a href="http://localhost:5000/Home/PaginaInicial"><img src="~/images/sobrenos.jpg" alt="Meninas" class="img-fluid" style="border-radius: 50%;" /></a>
                            <p class="detalhe-titulo">Sobre nós</p>
                            <span class="detalhe">Quer conhecer um pouco mais nossa história e como surgiu o projeto?</span>
                        </div>
                        <div class="col-4">
                            <a href="http://localhost:5000/Home/Duvidas"><img src="~/images/duvidas.jpg" alt="Dúvidas" class="img-fluid" style="border-radius: 50%;"/></a>
                            <p class="detalhe-titulo">Está com dúvidas?</p>
                            <span class="detalhe">Aqui temos uma listinha com as principais dúvidas que iremos sanar durante a consultoria. Vem ver!</span>
                        </div>
                    </div>
                </div>
            </section>
    </body>
</html>