@{
    ViewData["Title"] = "Quem somos nós";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section id="destaques">
        <div class="container-fluid"  style="margin-top: 55px;">
            <div class="row">
                <img class="col-6" src="~/images/sobrenos.png" width="100%">
                <div class="col-6">
                <h1 style="font-size: 30px;">Olá, viajante, tudo bom?</h>
                <br>
                <p style="margin-top: 40px ;">Nós somos Lara e Luisa, duas meninas unidas pela paixão de desbravar cada cantinho do nosso mundão!</p>
                <p>Nosso amor por viagens vem de muito tempo, fizemos vários mochilões em diversos cantos do mundo. Mas foi em 2009 que decidimos unir o nosso gosto por planejamento de viagens com a facilidade de comunicação que todo sagitariano possui... unimos as idéias e, a partir daí surgiu o Elas te Levam.</p>
                <p>Já planejamos mais de 358 viagens dos sonhos de cada pessoa que passa por nós.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container2">
            <button class="arrow-left control" aria-label="Previous image">◀</button>
            <button class="arrow-right control" aria-label="Next Image">▶</button>
            <div class="gallery-wrapper">
              <div class="gallery">
                <!--       <div class="item current-item cyan"></div>
                <div class="item deeppink"></div>
                <div class="item turquoise"></div>
                <div class="item darkblue"></div>
                <div class="item purple"></div> -->
                <img src="~/images/traveler1.jpg" alt="Pizza de bacon" class="item current-item">
                <img src="~/images/traveler2.jpg" alt="Pizza de calabresa" class="item current-item">
                <img src="~/images/traveler3.jpg" alt="Pizza de camarão" class="item current-item">
                <img src="~/images/traveler4.jpg" alt="Pizza de  queijos" class="item current-item">
                <img src="~/images/traveler5.jpg" alt="Pizza de tomate seco com rúcula" class="item current-item">
              </div>
            </div>
          </div>
</body>
</html>