@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.cabeçalho{
    font-family: 'Sacramento', cursive;
    color: rgb(8, 2, 110);
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(255, 142, 247);
    margin: 10px;
    box-shadow: 4px 4px 4px rgba(255, 254, 254, 0.25);
    text-decoration: none;
    list-style: none;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: white;
}
.cabeçalho-logo {
    height: 120px;
    position: absolute;
    left: 0px;
    top: 0px;
}

body {
    background-color: rgba(214, 214, 214, 0.93);
}
h1 {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 55px;
    color: rgb(147, 86, 43);
}
.titulo{
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 55px;
    color: rgb(147, 86, 43);
}
p {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
}

.frasefinal1{
    padding-right: 70px;
}
.frasefinal2{
    padding-left: 70px;
}

.destaques{
padding-top: 130px;
}
.detalhe-titulo{
    text-align: center;
    color: rgb(109, 63, 30);
    font-size: 26px;
    font-weight: 900;
}
.detalhe{
    text-align: center;
    color: rgb(147, 86, 43);
}
