@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300&family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-image: url('~/images/bg.png');
}

body {
  background-image: url('~/images/bg.png');
}

h1{
  font-family: 'Sacramento', cursive;

}

p {
    font-family: 'Red Hat Text', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  line-height: 60px;
}
